/*This is the CSS page for our final template.*/
P {font-family: Times New Roman, serif;
	font-size: 20px;
}
.footer p {font-family: Times New Roman,  serif
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: cadetblue;
	color: floralwhite;
}
h2 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}

}
h3 {
	font-size: 30px;
}

h4 {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-size: 20px;
}

img { 
float:right; 
margin-right: 5%;
margin-left: 5%;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}