body {
  font-family: Times New Roman, serif;
  max-width: 70rem;
  margin-left: 50px;
  margin-right: 10px;
}

header {
  background-color: rosybrown;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 15px;
text-align: center;
color: floralwhite;
}
img {
  width: 75%;
}

.caption {
  font-size: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: bold;
  font-size: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

h3 {
  font-style: bold;
  font-size: 24px;
}

p {
  font-size: 20px;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
