body {
  font-family: Arimo, sans-serif;
  max-width: 70rem;
  margin-left:50px;
  margin-right: 30px;
}

header {
  background-color: #000E54;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 20px;
}

h1 {
  font-style: bold;
  font-size: 45px;
  color: #000E54
}

h2 {
  font-size: 25px;
  margin-bottom: 1.5rem;
}

h3 {
  font-style: bold;
  font-size: 20px;
  color: #F76900;
}

/* unvisited link */
a:link {
  color: #000E54;
}

/* visited link */
a:visited {
  color: #000E54;
}

/* mouse over link */
a:hover {
  color: #F76900;
}

/* selected link */
a:active {
  color: #000E54;
}

.mainimage {
  float: right;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer p { 
  color: lightgray;
  background-color: #000E54;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 10px;
  text-align: center;
}

.caption {
  font-size: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  text-align: right;
}

/*Add or Update Your Own Font*/

.arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*Post Below for Mobile Format*/
@media only screen and (max-width: 767px)

{
.mainimage {
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;


}

}
