/*This is the CSS page for our final template.*/
body {font-family: Times New Roman, serif;
	font-size: 22px;
	
}
.site-banner {
	background-color: #034e7b;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	color: white;
	font-family: 'Bodoni Moda', serif;
	text-shadow: 2px 2px 2px #000000;
	font-size: 30px;
  height: auto;
  margin-bottom: 20px;
}
.article {
	max-width: 1200px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 25%;
	margin-right: 25%;
	padding-left: 10px;
	padding-right: 10px;
}

img {
height: 100%;
width: 100% ;
margin-top: 15px;
display: block;
margin: 0 auto;
margin-bottom: 10px;
}

h2 {
	font-size: 27px;
	font-family: 'Bodoni Moda', serif;
}

h3 {
	font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
	font-size: 25px;
}

h4 {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-size: 18px;
}

.bodoni-moda-subhead {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caption {
  font-size: 15px;
  color: gray;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.list {
  border: 2px solid #333;
  border-color:#034e7b ;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0px;
  line-height: 1.5;
  background-color: #f1eef6;
}

iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
 .dataviz {
display: flex;
justify-content: center;
align-items: center;
width: 700px;
height: 700px;
}
.footer p {
	font-family: Times New Roman,  serif;
	background-color: #034e7b;
	text-align: center;
	font-size: 15px;
	margin-bottom: 0;
	color: white;
	padding: 2px;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	border: 2px solid gray;
 	padding-left: 10px;
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 
 .footer p  {
 	font-family: Times New Roman,  serif;
	background-color: #034e7b;
	color: white;
	text-align: center;
	font-size: 14px;
	margin-bottom: 0;
	padding: 2px;
}

.article {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.site-banner {
	height: auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: 'Bodoni Moda', serif;
	background-color: #034e7b;
	color: white;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 1px;
	text-shadow: 2px 2px 2px #000000;
	margin-bottom: 20px;
}
h2 {
	font-size: 18px;
	font-family: 'Bodoni Moda', serif;
}
h4 {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-size: 13px;
}
}
